
body {
    font-family: 'Arial', sans-serif;
    background-image: url(../Image/Autoseguro.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    margin: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.container:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
    font-size: 30px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    margin-top: 5px;
    transition: border-color 0.3s, background-color 0.3s;
}

input:focus, select:focus {
    border-color: #007bff;
    background-color: #eef;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #0f2255;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #215f88;
    transform: translateY(-3px);
}

#resultados {
    margin-top: 20px;
}

#resultados div {
    background-color: #00ff55;
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

#resultados div:hover {
    background-color: #00b377;
}